In [21]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database='project'
    
)

print(mydb)
mycursor=mydb.cursor(buffered=True)

<mysql.connector.connection.MySQLConnection object at 0x038B2A48>

In [38]:
def add_details():
    result = mycursor.execute("INSERT INTO student_details (ID , NAME , AADHAR_CARD_NUMBER , PARENT_NAME , PHONE_NUMBER , CLASS , SECTION ) VALUES ('7777' , 'vijay' , '45465768980' , 'sekar' , '7583797678' , 'xi' , 'a')");
    print(result)

In [39]:
def view_details():
    a=input("Enter student id")
    mycursor.execute("SELECT * FROM student_details WHERE ID={}".format(a))
    out=mycursor.fetchall()
    from tabulate import tabulate
    print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [40]:
def update_details():
    result = mycursor.execute("UPDATE student_details SET NAME = 'Jegan', SECTION = 'a' WHERE ID = 8221;")
    print(result)

In [41]:
def delete_details():
    result =mycursor.execute("DELETE FROM student_details WHERE ID ='8220';")
    print(result)

In [43]:
def option_check(option):
    if(option=='1'):
        add_details()
    elif(option=='2'):
        view_details()
    elif(option=='3'):
        update_details()
    elif(option=='4'):
        delete_details()
    else:
        print("Select correct option")

In [44]:
option=input("Enter option")
print(option)
option_check(option)

Enter option2
2
Enter student id8220
+------+--------+----------------------+---------------+----------------+---------+-----------+
| ID   | NAME   | AADHAR_CARD_NUMBER   | PARENT_NAME   | PHONE_NUMBER   | CLASS   | SECTION   |
|------+--------+----------------------+---------------+----------------+---------+-----------|
+------+--------+----------------------+---------------+----------------+---------+-----------+